:host {
  display: block;
}

.scanner-line {
  animation: scanner 3s ease-in-out infinite;
  top: -2px;
}

@keyframes scanner {
  0%   { top: -2px; opacity: 0; }
  10%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}
